# C++ binaries
*.exe
*.obj

# Visual Studio Analysis Files:
*.nativecodeanalysis.xml

# MSVC Program Database Files (Symbol Files):
*.pdb

# Python Cache/Compiled files
__pycache__/*
*.pyc

# Vim Temp Files
*.swp

# VSCode config directories
.vscode/

# Test files
*.txt

